.window_main,
.window_extend,
.window-game-history,
.window-note,
.window-game,
.window-question-filter {
    background-color: #ffffff;
}

.button, .combo {
    background: #fafafa ;
    border: #248ad8 1px solid;
    color: #2f2f2f;
    font-weight: 500;
}

.button:hover, .combo:hover {
    background: #d8e6f1;
    border: #248ad8 1px solid;
}

.search-text text,
.game-history-text text,
.note-text text {
    background: #fafafa;
    color: #2f2f2f;
    font-weight: 600;
}

.scroll-window,
.scroll-window-game {
    border: none;
}

.history-text text {
    background: #fafafa;
    color: #2f2f2f;
    font-weight: 600;
    border: #248ad8 1px solid;
}

.input {
    border: #248ad8 1px solid;
    background: #fafafa;
    color: #2f2f2f;
    font-weight: 500;
}

.icon-main {
    font-size: 12px;
}

.extend-label,
.game-history-label {
    font-size: 0.8em;
    color: #2f2f2f;
    font-weight: 600;
}

.game-title,
.filter-title {
    color: #248ad8;
}

.game-des,
.filter-des,
.filter-option {
    color: #2f2f2f;
}

.query-result {
    color: rgb(246, 70, 93);
}

.eng {
    background: #d8e6f1;
    border: #248ad8 1px solid;
    border-radius: 10px;
}

.vie text {
    background: #fafafa;
    color: #2f2f2f;
    border: #248ad8 1px solid;
}


.filter-option:checked {
    color: #924d8b;
}

.question-num {
    color: #248ad8;
}

.correct-num {
    color: rgb(14, 203, 129);
}